h1{
    text-align: center;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
    color: rgb(137, 20, 220);
}

body{
    background-color: rgb(212, 203, 30);
}



.calculadora {
    font-family: 'Poppins', sans-serif;
    width: 220px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: #f0f0f0;
  }
  

  #visor {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
  }
  
 
  .button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  .number {
    background-color: #ffffff;
    height: 50px;
    width: 50px;
  }
  

  .operacao {
    background-color:  rgb(137, 20, 220);
    color: rgb(255, 255, 255);
    height: 50px;
    width: 50px;
  }
  
  
  .teclado{
    display: contents;
    
  }